<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register Employee</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Employee Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}"> >>> Millennium Robotics Inc. <<< </a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">

    <h3>Add/Edit employee information</h3>
    <hr/>

    <form th:action="@{/saveEmployee}" th:object="${employee}" method="POST">

        <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Enter Name" />

        <input type="text" th:field="*{email}" class="form-control col-4 mb-4" placeholder="Enter email" />

        <input type="text" th:field="*{department}" class="form-control col-4 mb-4" placeholder="Enter department" />

        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden" th:field="*{id}" />

    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>

</body>
</html>